body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;    
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: block;
    margin: 1.8em;
    float: left;    
}

table.zebra, table.zebra td, table.zebra th
{
    border: 1px solid silver;
    border-collapse: collapse;
}

table.zebra thead
{
    color: wheat;
    background-color: gray;
}

table.zebra tbody tr:nth-child(even)
{
    background-color: #DDDDDD;
}

.rechts
{
    text-align:right;
}

.midden
{
    text-align: center;
}

dd
{
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 1.5em;
    font-weight: bold;
}